<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Customer Registration</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>Customer Registration</a></h1>
		<form id="form_1085697" class="appnitro"  method="post" action="">
					<div class="form_description">
			<h2>Customer Registration</h2>
			<p>Please fill in below details</p>
		</div>						
			<ul >
			
					<li id="li_1" >
		<label class="description" for="element_1">Email </label>
		<div>
			<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Password </label>
		<div>
			<input id="element_4" name="element_4" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Confirm Password </label>
		<div>
			<input id="element_5" name="element_5" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_6" >
		<label class="description" for="element_6">Name </label>
		<span>
			<input id="element_6_1" name="element_6_1" class="element text" maxlength="255" size="2" value=""/>
			<label>Title</label>
		</span>
		<span>
			<input id="element_6_2" name="element_6_2" class="element text" maxlength="255" size="8" value=""/>
			<label class="tam">First</label>
		</span>
		<span>
			<input id="element_6_3" name="element_6_3" class="element text" maxlength="255" size="14" value=""/>
			<label class="tam">Last</label>
		</span>
		<span>
			<input id="element_6_4" name="element_6_4" class="element text" maxlength="255" size="3" value=""/>
			<label>Suffix</label>
		</span> 
		</li>		<li id="li_9" >
		<label class="description" for="element_9">Multiple Choice </label>
		<span>
			<input id="element_9_1" name="element_9" class="element radio" type="radio" value="1" checked="checked"/>
<label class="choice" for="element_9_1">Male</label>
<input id="element_9_2" name="element_9" class="element radio" type="radio" value="2" />
<label class="choice" for="element_9_2">Female</label>
<input id="element_9_3" name="element_9" class="element radio" type="radio" value="3" />
<label class="choice" for="element_9_3">Others</label>

		</span> 
		</li>		<li id="li_8" >
		<label class="description" for="element_8">Height(cms) </label>
		<div>
			<input id="element_8" name="element_8" class="element text small" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_7" >
		<label class="description" for="element_7">Weight(kgs) </label>
		<div>
			<input id="element_7" name="element_7" class="element text small" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Address </label>
		
		<div>
			<input id="element_2_1" name="element_2_1" class="element text large" value="" type="text">
			<label for="element_2_1">Street Address</label>
		</div>
	
		<div>
			<input id="element_2_2" name="element_2_2" class="element text large" value="" type="text">
			<label for="element_2_2">Address Line 2</label>
		</div>
	
		<div class="left">
			<input id="element_2_3" name="element_2_3" class="element text medium" value="" type="text">
			<label for="element_2_3">City</label>
		</div>
	
		<div class="right">
			<input id="element_2_4" name="element_2_4" class="element text medium" value="" type="text">
			<label for="element_2_4">State / Province / Region</label>
		</div>
	
		<div class="left">
			<input id="element_2_5" name="element_2_5" class="element text medium" maxlength="15" value="" type="text">
			<label for="element_2_5">Postal / Zip Code</label>
		</div>
	
		<div class="right">
			<select class="element select medium" id="element_2_6" name="element_2_6"> 
			<option value="" selected="selected"></option>
			<option value="India" >India</option>

	
			</select>
		<label for="element_2_6">Country</label>
	</div> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Phone </label>
		<span>
			<input id="element_3_1" name="element_3_1" class="element text" size="3" maxlength="3" value="" type="text"> -
			<label for="element_3_1">(###)</label>
		</span>
		<span>
			<input id="element_3_2" name="element_3_2" class="element text" size="3" maxlength="3" value="" type="text"> -
			<label for="element_3_2">###</label>
		</span>
		<span>
	 		<input id="element_3_3" name="element_3_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_3_3">####</label>
		</span>
		 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="1085697" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
		<div id="footer">
			Generated by <a href="http://www.phpform.org">pForm</a>
		</div>
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>