

<!DOCTYPE html>
<html lang="en">
  <head>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

  <body >
    <h1> Base Html </h1>

    <div class="container" >
    <div class="col-md-10 col-md-offset-2"> </div>

    <h2> outerrrr</h2>

      <div class="container col-md-8 col-md-offset-4">
         <h2>Hellooo </h2>
      	
      </div>

    </div>

  </body>
</html>